server:
  port: 8123
  servlet:
    context-path: /api
spring:
  application:
    name: fon-picture-backend
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/fon-picture
    username: root
    password: root
mybatis-plus:
  configuration:
    # MyBatis ??
    map-underscore-to-camel-case: false
    # ???????????
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete
      logic-delete-value: 1
      logic-not-delete-value: 0
# springdoc-openapi????
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.fontal.fonpicturebackend.controller
# knife4j???????????????
knife4j:
  enable: true
  setting:
    language: zh_cn